<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Jetty</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bulma/css/bulma.min.css">
</head>
<body>
<div class="container">
    <br><br><br><br><br><br>
    <div class="content has-text-centered is-medium">
        <h1 style="color: #A1219F">Nota registrada</h1>
    </div>
    <div class="columns is-centered">
        <div class="column">
        </div>
        <div class="column">
            <div class="box has-text-centered">
                <figure class="image is-128x128 is-inline-block">
                    <a href="registrar.html">
                        <img src="img/registrar.png" alt="Placeholder image">
                    </a>
                </figure>
                <p><b>Registrar Notas</b></p>
            </div>
        </div>
        <div class="column">
            <div class="box has-text-centered">
                <figure class="image is-128x128 is-inline-block">
                    <a href="listar">
                        <img src="img/listar.png" alt="Placeholder image">
                    </a>
                </figure>
                <p><b>Listar Notas</b></p>
            </div>
        </div>
        <div class="column">
        </div>
    </div>
</div>

</body>
</html>